# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 09d0711efcff063302459e030d211275f248f0802fbcf3006bf91f212658cfa8231ca918a3b74eb31aa3bba9b37bd467c3dfac530b3a3a94e913c30ab913099e

test:
  secret_key_base: 328a10c77ff6d16ed915abdef750447bc0fd632b5a10f9492856686f031248d0c3572d7a469142e89d2d54bf6f5309da4b882dcd988088744c8b4a3eb432a9a1

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
